In [1]:
import psycopg2 as pg

In [4]:
conn = pg.connect(
    host="localhost",
    database="Learning",
    user="postgres",
    password="Mydb23!",
    port="5432"
)

In [5]:
cursor = conn.cursor()

In [6]:
insert_query = """
    INSERT INTO job (job_name)
    VALUES ('Singer')
"""

In [7]:
cursor.execute(insert_query)

In [8]:
conn.commit()

In [9]:
cursor.execute("SELECT * FROM job")

In [10]:
rows = cursor.fetchall()

In [11]:
for row in rows:
    print(row)

(1, 'Pilot')
(2, 'Software Engineer')
(3, 'Actor')
(4, 'Singer')

In [12]:
create_table_query = """
    CREATE TABLE account_job_details (
        user_id INTEGER,
        user_name VARCHAR(50) NOT NULL,
        job_id INTEGER,
        job_name VARCHAR(50) NOT NULL
    );
"""

In [13]:
cursor.execute(create_table_query)

In [14]:
insert_ajd_query = """
    INSERT INTO account_job_details (user_id, user_name, job_id, job_name)
    SELECT account.user_id, account.username, account_job.job_id, job.job_name
    FROM account
    INNER JOIN account_job ON account.user_id = account_job.user_id
    INNER JOIN job ON account_job.job_id = job.job_id
"""

In [15]:
cursor.execute(insert_ajd_query)

In [16]:
conn.commit()

In [17]:
cursor.close()

In [19]:
conn.close()