In [8]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
csv_file = '/Users/indureddypailla/DataEngineeringExcercises/Studentdata.csv'
studentsData = pd.read_csv(csv_file)

In [3]:
studentsData.shape

(256, 25)

In [5]:
studentsData.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 25 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Unnamed: 0                                                                                 256 non-null    int64
 1   2.Gender                                                                                   256 non-null    object
 2   3. Year of Study                                                                           256 non-null    object
 3   4. Branch                                                                                  256 non-null    object
 4   1. Type of Schooling till 10th Grade:                                                      256 non-null    object
 5   2. Percentage in Class 10th?                                                               256 non-null    object
 6   3. Location of Class 10th School:                                                          256 non-null    object
 7   4. Type of Schooling for class 12th:                                                       256 non-null    object
 8   5. Percentage in Class 12th?                                                               256 non-null    object
 9   6. Location of Class 12th School:                                                          256 non-null    object
 10  7. Dropped an year after School?                                                           256 non-null    object
 11  8. Are you about to become first generation graduate ?                                     256 non-null    object
 12  9. Involved in additional volunteer groups?(NCC,NSS, Social Welfare Groups  or any other)  256 non-null    object
 13  1. How many programming languages do you know?                                             256 non-null    object
 14  2.  Actively involved in Specific technology?                                              256 non-null    object
 15  3. Exposure to Data structure and algorithms?                                              256 non-null    object
 16  4. Exposure to GitHub ?                                                                    256 non-null    object
 17  5. Are you associated with any developer Community?                                        256 non-null    object
 18  6. Active in developer Communities                                                         216 non-null    object
 19  7. Participating in Hackathons and other competitions?                                     256 non-null    object
 20  8. Have you made any Software based projects?                                              256 non-null    object
 21  9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?  256 non-null    object
 22  10. Have you ever pitched any idea?                                                        256 non-null    object
 23  11. Do you have any additional skills?                                                     256 non-null    object
 24  Achievements:                                                                              256 non-null    object
dtypes: int64(1), object(24)
memory usage: 389.7 KB

In [6]:
studentsData.columns

Index(['Unnamed: 0', '2.Gender', '3. Year of Study', '4. Branch',
       '1. Type of Schooling till 10th Grade:', '2. Percentage in Class 10th?',
       '3. Location of Class 10th School:',
       '4. Type of Schooling for class 12th:', '5. Percentage in Class 12th?',
       '6. Location of Class 12th School:', '7. Dropped an year after School?',
       '8. Are you about to become first generation graduate ?',
       '9. Involved in additional volunteer groups?(NCC,NSS, Social Welfare Groups  or any other)',
       '1. How many programming languages do you know? ',
       '2.  Actively involved in Specific technology?',
       '3. Exposure to Data structure and algorithms?',
       '4. Exposure to GitHub ?',
       '5. Are you associated with any developer Community?',
       '6. Active in developer Communities',
       '7. Participating in Hackathons and other competitions?',
       '8. Have you made any Software based projects?',
       '9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?',
       '10. Have you ever pitched any idea?',
       '11. Do you have any additional skills?', 'Achievements:'],
      dtype='object')

In [10]:
old_columns_names = Series(['Unnamed: 0', '2.Gender', '3. Year of Study', '4. Branch',
       '1. Type of Schooling till 10th Grade:', '2. Percentage in Class 10th?',
       '3. Location of Class 10th School:',
       '4. Type of Schooling for class 12th:', '5. Percentage in Class 12th?',
       '6. Location of Class 12th School:', '7. Dropped an year after School?',
       '8. Are you about to become first generation graduate ?',
       '9. Involved in additional volunteer groups?(NCC,NSS, Social Welfare Groups  or any other)',
       '1. How many programming languages do you know? ',
       '2.  Actively involved in Specific technology?',
       '3. Exposure to Data structure and algorithms?',
       '4. Exposure to GitHub ?',
       '5. Are you associated with any developer Community?',
       '6. Active in developer Communities',
       '7. Participating in Hackathons and other competitions?',
       '8. Have you made any Software based projects?',
       '9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?',
       '10. Have you ever pitched any idea?',
       '11. Do you have any additional skills?', 'Achievements:'])

In [11]:
old_columns_names

0                                            Unnamed: 0
1                                              2.Gender
2                                      3. Year of Study
3                                             4. Branch
4                 1. Type of Schooling till 10th Grade:
5                          2. Percentage in Class 10th?
6                     3. Location of Class 10th School:
7                  4. Type of Schooling for class 12th:
8                          5. Percentage in Class 12th?
9                     6. Location of Class 12th School:
10                     7. Dropped an year after School?
11    8. Are you about to become first generation gr...
12    9. Involved in additional volunteer groups?(NC...
13      1. How many programming languages do you know?
14        2.  Actively involved in Specific technology?
15        3. Exposure to Data structure and algorithms?
16                              4. Exposure to GitHub ?
17    5. Are you associated with any developer Commu...
18                   6. Active in developer Communities
19    7. Participating in Hackathons and other compe...
20        8. Have you made any Software based projects?
21    9. Have you made any Hardware based project (A...
22                  10. Have you ever pitched any idea?
23               11. Do you have any additional skills?
24                                        Achievements:
dtype: object

In [14]:
output1= pd.read_csv(csv_file, usecols=[1,2,3,24])

In [15]:
output1

,2.Gender,3. Year of Study,4. Branch,Achievements:
0,Male,Third,CSE/IT,Scholarships;Hackathons;Research Papers;Projects
1,Female,Second,CSIT,None
2,Male,Second,CSIT,None
3,Male,Second,CSIT,None
4,Male,Second,CSIT,Hackathons;Coding Competitions;Projects
...,...,...,...,...
251,Female,Third,CSE,Projects
252,Male,Second,ECE,Projects
253,Male,Second,CSIT,Projects
254,Male,Second,ECE,Projects
255,Male,Second,MCA,Coding Competitions

In [16]:
num_lines_input_file = len(studentsData)

In [17]:
print("Number of lines of input file:", num_lines_input_file)

Number of lines of input file: 256

In [18]:
num_lines_output1_file = len(output1)

In [19]:
print("Number of lines of output1 file:", num_lines_output1_file)

Number of lines of output1 file: 256

In [24]:
subset= studentsData.loc[0:10,['2.Gender','3. Year of Study', 'Achievements:']]

In [25]:
subset

,2.Gender,3. Year of Study,Achievements:
0,Male,Third,Scholarships;Hackathons;Research Papers;Projects
1,Female,Second,None
2,Male,Second,None
3,Male,Second,None
4,Male,Second,Hackathons;Coding Competitions;Projects
5,Male,Second,Scholarships;Hackathons;Coding Competitions;Pr...
6,Female,Second,None
7,Male,Second,None
8,Male,Second,Scholarships;Hackathons;Coding Competitions;Re...
9,Male,Second,Coding Competitions
10,Female,Second,None

In [26]:
output2 = len(subset)
print("Number of lines in output2 file:", output2)

Number of lines in output2 file: 11

In [28]:
subset.loc[subset['2.Gender']=='Female', :]

   2.Gender 3. Year of Study Achievements:
1    Female           Second          None
6    Female           Second          None
10   Female           Second          None